*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    background-color: thistle;
}
.wrapperRight{
    display: grid;
    background-color: aqua;
    height: 100vh;
}

#pokedex{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 26px;
    padding: 2% 0;
    list-style-type: none;
}

.cards{
    border: 1px solid black;
    display: flex;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-image: url("../img/Pikachu.png");
    width: 100%;
}

::-webkit-scrollbar-button {
    background-color: red;
    background-image: url("../img/Pikachu.png");

}
::-webkit-scrollbar-corner {
    background-color: aqua;
    height: 100px;
}
*/
