*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px 100px;
    overflow: scroll;
    overflow-x: hidden;

}
.wrapperRight{
    display: grid;
    background-color: aqua;
    height: 100vh;
}
.thumbnail img{
    width: 100%;
}
.thumbnail{
    text-align: center;
    background-color: blue;
    margin: 20px;
}
/*
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-image: url("../img/Pikachu.png");
    width: 100%;
}

::-webkit-scrollbar-button {
    background-color: red;
    background-image: url("../img/Pikachu.png");

}
::-webkit-scrollbar-corner {
    background-color: aqua;
    height: 100px;
}
*/
