/* Général */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Comfortaa;
}

a{
    text-decoration: none;
    color: white;
}

/* Création de variables de couleurs pour toujours garder les mêmes sans se tromper */
:root{
    --main-darkgrey: #312f2f;
} 

/* Fin Général */

/* Animation */
.slideInRight {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
/* Fin Animation */

/* Main */
.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
/**************** Partie Gauche ******************/
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    background-color: var(--main-darkgrey);
}

#pokedex{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 26px;
    padding: 2% 0;
    list-style-type: none;
}

.cards{
    border: 1px solid gold;
    display: flex;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
}

.cards:hover{
    animation: bounce 0.5s linear;
}

@keyframes bounce{
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(-Opx);
    }
}

.card-name{
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    text-shadow:0 0 3px black;
}


/* Partie droite */
.wrapperRight{
    display: grid;
    background-color: var(--main-darkgrey);
    height: 100vh;
}

.pokemonSheet{
    background-image: url("../img/d3n22fk-ca665f8a-9aa5-4508-9132-a0cc7b06c3b8.png") ;
    width: 272px;
    height: 415px;
    margin: 34% 16%;
    padding: 4%;
    border-radius: 40px;
    box-shadow: 20px 25px 5px 5px #0000001e;
    border: 6px solid gold;
    display: none;
    flex-direction: column;
    align-items: center;
}

.pokePicture{
    width: 86%;
    height: 55%;
    border: 3px solid gold;
    background-image: url(https://cdn.wallpapersafari.com/94/14/OsG20P.jpg);
}

.pokemonName{
    font-size: 25px;
    
}

.pokemonSheet h4{
    text-decoration: underline;
    padding-top: 5%;
}

/* Scrollbar  */
::-webkit-box-shadow{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    width: 10px;
} 

::-webkit-scrollbar{
    width: 6px;
    background-color: var(--main-darkgrey);
}

::-webkit-scrollbar-thumb{
    background-color: #c7c731;
    border-radius: 20px;
}