/* Général */
*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    color: white;
}
/* Fin Général */

/* Main */
.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
/* Partie Gauche */
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    background-color: thistle;
}

.flip-card {
    /* on indique les dimensions de la carte, ici je les adapte à la taille de ma photo recorder*/
    background-color: transparent; /* transparent pour ne pas avoir de fond au moment du flip */
    width: 100%; /* 32% car 3 carte. On fait en sorte que le total ne dépasse pas 98% */
    height: 400px;
    border-radius: 20px;
    perspective: 2000px;
    margin-bottom: 7%;
     /* Pour l'effet 3D des coins qui débordent, plus la valeur est faible plus l'elasticité est grande */
}

.inner-flip {
    position: relative;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 0 6px 12px rgb(0 0 0 / 35%);
}

.flip-card:hover .inner-flip { /* on flip la card avec une pseudo classe */
    transform: rotateY(180deg);
}
/* à cette étape la photo et le texte sont l'un au dessus de l'autre et flip ensemble */
/* on va positionner le texte et la photo dos à dos */
.front-flip, .back-flip {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.front-flip {
    background-color: transparent;
    justify-content: center;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    border: solid #000000;
    background-position: center;
    background-size: cover;
}

/* Partie droite */
.wrapperRight{
    display: grid;
    background-color: aqua;
    height: 100vh;
}

#pokedex{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 26px;
    padding: 2% 0;
    list-style-type: none;
}

.cards{
    border: 1px solid black;
    display: flex;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-image: url("../img/Pikachu.png");
    width: 100%;
}

::-webkit-scrollbar-button {
    background-color: red;
    background-image: url("../img/Pikachu.png");

}
::-webkit-scrollbar-corner {
    background-color: aqua;
    height: 100px;
}
*/
