/* Général */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
/* Fin Général */

/* Main */
.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
/**************** Partie Gauche ******************/
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    background-color: #EFEFBB;
}

#pokedex{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 26px;
    padding: 2% 0;
    list-style-type: none;
}

.Opacity{
    border: 1px solid black;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
.cards{
    width: 100%;
    height: 100%;
}
.card-type{
    text-transform: capitalize;
    font-family: Comfortaa;
    font-weight: 300;
    padding-top: 5px;
    font-size: 13px;
}
/*
.cards:hover{
    animation: bounce 0.5s linear;
}
@keyframes bounce{
    20%{
        transform: translateY(-4px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2x);
    }
    80%{
        transform: translateY(-0px);
    }
}

.card-name{
    color: ;
    text-transform: capitalize;
    font-family: Comfortaa;
    font-weight: 900;
}
*/
.box{
    position: relative;
    width: 200px;
    height: 200px;
}
.box span{
    position: absolute;
    width: 100%;
    height: 100%;    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2%;
    background: aqua;
    animation: animate 4s linear infinite;
  }
  
   @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  }  */

/* Partie droite */
.wrapperRight{
    display: grid;
    background-color: #312f2f;
    height: 100vh;
}

.pokemonSheet{
    background-color: azure;
    width: 272px;
    height: 500px;
    margin: 16%;
    border-radius: 40px;
    box-shadow: 20px 25px 5px 5px #0000001e;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pokePicture{
    background-color: #d3d2d2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/*
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-image: url("../img/Pikachu.png");
    width: 100%;
}

::-webkit-scrollbar-button {
    background-color: red;
    background-image: url("../img/Pikachu.png");

}
::-webkit-scrollbar-corner {
    background-color: aqua;
    height: 100px;
}
*/
