/* Général */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Comfortaa;
}

body{
    overflow-y: hidden;
    background-image: url("../img/Landscape.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
}

/* Fin Général */

/* Animations */
/* animation slide carte de droite */
.slideInRight {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 

    /* Animation cards */
    @keyframes bounce{
        20%{
            transform: translateY(-10px);
        }
        40%{
            transform: translateY(0px);
        }
        60%{
            transform: translateY(-2px);
        }
        80%{
            transform: translateY(-Opx);
        }
    }
/* Fin Animation */

/* Main */

.close{
    display: none;
}
.logo{
    /* background-color: var(--main-darkgrey); */
    display: flex;
    justify-content: center;
}

.logo img{
    width: 200px;
}

.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
/**************** Partie Gauche ******************/
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 3%;
}

#pokedex{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 26px;
    padding: 2% 0;
    list-style-type: none;
}

.cards{
    border: 1px solid gold;
    display: flex;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
}

.cards:hover{
    animation: bounce 0.5s linear;
}

.cards:hover h2{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1f0512, 0 0 40px #1f0512, 0 0 50px #1f0512, 0 0 60px #1f0512, 0 0 70px #1f0512;
}

.card-name{
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    text-shadow:0 0 3px black;
}


/* Partie droite */
.wrapperRight{
    display: grid;
    height: 100vh;
}

.pokemonSheet{
    background-image: url("../img/backgroundcards.png") ;
    width: 280px;
    height: 450px;
    margin: auto;
    padding: 4%;
    border-radius: 40px;
    box-shadow: 20px 25px 5px 5px #0000001e;
    border: 6px solid gold;
    display: none;
    flex-direction: column;
    align-items: center;
}

.pokePicture{
    width: 86%;
    height: 55%;
    border: 3px solid gold;
    background-image: url(https://cdn.wallpapersafari.com/94/14/OsG20P.jpg);
}

.pokemonName{
    font-size: 25px;
    
}

.pokemonSheet h4{
    text-decoration: underline;
    padding: 3%;
}

/* Scrollbar custom  */
::-webkit-box-shadow{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    width: 10px;
} 

::-webkit-scrollbar{
    width: 6px;
    background-color: var(--main-darkgrey);
}

::-webkit-scrollbar-thumb{
    background-color: #c7c731;
    border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 964px){
    body{
        overflow: scroll;
    }
    .container{
        display: grid;
        grid-template-columns: 100%;
        overflow-y: hidden;
        height: auto;
    }

    .pokemonSheet{
        margin: 8% 6%;
        width: 40%;
        height: 75%;
    }

    .wrapperRight{
        display: none;
        position: fixed;
        justify-content: center;
        height: 100%;
        width: 100%;
       /*  background-color: #312f2f9f; */
    }
    
    .close{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5%;
    cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .pokemonSheet {
        margin: auto;
        width: 53%;
        height: 60%;
    }
}

@media screen and (max-width: 500px){
    .pokemonSheet{
        width: 100%;
        margin: 9%;
        height: fit-content;
    }

}


