/* Général */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    color: white;
}
/* Fin Général */

/* Main */
.container{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow-y: hidden;
    height: 100vh;
}
/* Partie Gauche */
.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    background-color: thistle;
}



/* Partie droite */
.wrapperRight{
    display: grid;
    background-color: aqua;
    height: 100vh;
}

#pokedex{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 26px;
    padding: 2% 0;
    list-style-type: none;
}

.cards{
    border: 1px solid black;
    display: flex;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: lightgreen
}

.cards:hover{
    animation: bounce 0.5s linear;
}

@keyframes bounce{
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(-Opx);
    }
}

.card-name{
    color: white;
    text-transform: capitalize;
    font-family: Comfortaa;
    font-weight: 900;
}

/*
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-image: url("../img/Pikachu.png");
    width: 100%;
}

::-webkit-scrollbar-button {
    background-color: red;
    background-image: url("../img/Pikachu.png");

}
::-webkit-scrollbar-corner {
    background-color: aqua;
    height: 100px;
}
*/
